

.raleway-rele {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}




/* shared styles */
.primary-button{
  background-color: #4E47FF;
  font-size: 16px;
  font-weight: bold;
  color:white;
  border-style: none;
  padding: 12px 36px;
  border-radius: 10px;
}
body{
  display:block;
  margin-left: 141px;
  margin-right: 159px;
  align-items: center;
  justify-content: center; 
background-color: #F5F8FF;
  

}
.primary-color{
    color:#252432;
}
.secondary-color{
    color:#4E47FF;

}
button:hover {
      background-color: #c0e311;
      font-size: 17px;
    }
/* header style */
header{
      background-image: url("../Assets/Hero-bg.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
     display:block;
     justify-content: center;
     align-items: center;
}


/* nav style */
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 150px;
}
.nav-logo{
  font-size: 34px;
  font-weight: 900px;
  line-height: 150px;
  letter-spacing: 0px;
}

.header-center{
  disply: block;
  text-align: center;
  margin: 158px 267.5px 152px 267.5px;
  padding-bottom: 152px;
}

.header-title{
  
  font-size: 65px;
  font-weight: bold;
}

/* banner styles */
.banner-column{
  display: flex;
  gap:200px;
  justify-content: space-around;
  /* justify-content: center; */
  /* align-items: center; */
  /* padding-right: 150px; */
  /* padding-left: 150px; */
  /* margin-left: 150px; */
  /* margin-right: 150px; */
  padding-left: 141px;
  padding-right: 159px;
  

  
}
.banner-title{
  font-size: 42px;
  font-weight: bold;
  color: #252432;
}
.banner-description{
  font-size: 24px;
  color:#252432;
  opacity: 50%;
}
.banner-image{
  /* width:auto; */
  /* height: auto; */
  border-radius: 48px;
}
/* user section style */
.user{

  background-color: #E5E7FF;
  disply: block;
  justify-content: space-around;
  margin-left: 141px;
  margin-right: 159px;
  padding: 50px 142px;
  margin-top: 116px;
  border-radius: 15px;
  max-height: 306px;}
  
 

.section-user{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  
 
}

.user-main-title{
  font-size: 38px;
  font-weight: bold;
  color:#252432;
  text-align: center;
  margin-bottom: 40px;
}
.section-user{
gap:158px;

  
}
.user-title{
  font-size: 80px;
  font-weight: bold;
  color: #4E47FF;
  margin-top: 0px;
  margin-bottom: 0px;
}
.user-description{
  font-size: 20px;
  font-weight: normal;
  color: #000000;
  opacity: 50%;
  margin-top: 0px;
}
/* review style */
.review{
  
}
.review-content{
  display: flex;
  margin:50px 149px 0 151px;
  gap:20px;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
  
}
.review-column{
  background-color: #FFFFFF;
  padding: 50px;
  border-radius: 10px;

  
}
.review-title{
  font-size: 42px;
  font-weight: bold;
  color: #252432;
  text-align: center;
  margin-top: 137px;

}
.review-star{
  
}
.review-des-title{
  color:#1E1E1E;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: 400px;
  margin-top: 24px;
  margin-bottom: 8px;

}
.review-description{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: 300px;
  color: #2f2f2f;
  margin-bottom: 8px;

}
.sender-name{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: 300px;
  color: #2f2f2f;
  margin-bottom: 5px;
  margin-top: 0;
}

.sending-date{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: 300px;
  color:#252432;
  opacity: 20%;
}
.user-review{
  display: flex;
  align-items: center;
}
.review-sender{
  margin-left: 12px;
}
.review-pic{
  width: 40px;
  height: 40px;
}
/* footer style */
.get-touch{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
    background-color: ;   
    gap:115px; 
    margin-top: 100px;
    
}
footer input[type="email"], input[type="text"], textarea{
  height:70px;
  border-radius: 5px;
  background-color: #FFFFFF;
  display: block;
  padding:20px 271px 20px 32px;
  width:497px;
  font-size: 20px;
  margin-bottom: 19px;

}
.label{
  font-size: 18px;
  color: #000000;
}
.get-touch-tile{
  font-size: 97px;
  font-weight: bolder;
}
.btn{
  width: 100%;
}
btn:hover {
      background-color: #c0e311;
      font-size: 17px;
    }